<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <div class="navbar-brand">Verwaltung</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mx-3" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/schuelerTable">Schlüler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/lehrerTable'>Lehrer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/addSchuler'>Hinzufügen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/searchSchuler'>Suchen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
