<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col mt-5 mb-5">
            <div>
                <div class="col-md-7 col-lg-8">
                    <mat-form-field>
                        <mat-label>Hinzüfugen</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option value="schueler">Schüler</mat-option>
                            <mat-option value="lehrer">Lehrer</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <form (ngSubmit)="insertSchueler()" [formGroup]="schulerForm" *ngIf="selected === 'schueler'">
                        <div class="col-12 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Muster Muster" name="name">
                        </div>
                
                        <div class="col-12 mb-3">
                            <label for="geburtsdatum" class="form-label">Geburtsdatum</label>
                            <input formControlName="geburtsdatum" type="date" class="form-control" name="geburtsdatum">
                        </div>
                
                        <div class="col-12 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input formControlName="email" type="text" class="form-control" placeholder="du@beispiel.com" name="email">
                        </div>
                
                        <div class="col-6 mb-3">
                            <label for="klasse" class="form-label">Klasse</label>
                            <input formControlName="klasse" type="text" class="form-control" placeholder="A3" name="klasse">
                        </div>

                        <div class="col-6 mb-3">
                            <label for="klassenLehrer" class="form-label">Klassenlehrer</label>
                            <input formControlName="klassenLehrer" type="text" class="form-control" placeholder="A3" name="klassenLehrer">
                        </div>
                
                        <div class="row g-3">
                            <div class="col-md-5">
                                <label for="stadt" class="form-label">Stadt</label>
                                <input formControlName="stadt" type="text" class="form-control" placeholder="Trier" name="stadt">
                            </div>
                    
                            <div class="col-md-4">
                                <label for="strasse" class="form-label">Straße</label>
                                <input formControlName="strasse" type="text" class="form-control" placeholder="Neustraße" name="strasse">
                            </div>
                    
                            <div class="col-md-3">
                                <label for="plz" class="form-label">PLZ</label>
                                <input formControlName="postleitzahl" type="number" class="form-control" placeholder="54290" name="plz">
                            </div>
                        </div>
                
                        <hr class="my-4">
                        <button class="btn btn-dark btn-lg" [disabled]="this.schulerForm.invalid">Hinzufügen</button>
                    </form>

                    <form (ngSubmit)="insertLehrer()" [formGroup]="lehrerForm" *ngIf="selected === 'lehrer'">
                        <div class="col-12 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="Muster Muster" name="name">
                        </div>
                
                        <div class="col-12 mb-3">
                            <label for="geburtsdatum" class="form-label">Geburtsdatum</label>
                            <input formControlName="geburtsdatum" type="date" class="form-control" name="geburtsdatum">
                        </div>
                
                        <div class="col-12 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input formControlName="email" type="text" class="form-control" placeholder="du@beispiel.com" name="email">
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-dark btn-lg" [disabled]="this.lehrerForm.invalid">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
