<h1 mat-dialog-title> Schüler Daten Ändern</h1>
<div mat-dialog-content>
    <form [formGroup]="schulerForm">
        <div class="col-12 mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Muster Muster" name="name">
        </div>

        <div class="col-12 mb-3">
            <label for="geburtsdatum" class="form-label">Geburtsdatum</label>
            <input formControlName="geburtsdatum" type="date" class="form-control" name="geburtsdatum">
        </div>

        <div class="col-12 mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="text" class="form-control" placeholder="du@beispiel.com" name="email">
        </div>

        <div class="col-6 mb-3">
            <label for="klasse" class="form-label">Klasse</label>
            <input formControlName="klasse" type="text" class="form-control" placeholder="A3" name="klasse">
        </div>

        <div class="col-6 mb-3">
            <label for="klassenLehrer" class="form-label">Klassenlehrer</label>
            <input formControlName="klassenLehrer" type="text" class="form-control" placeholder="A3" name="klassenLehrer">
        </div>

        <div class="row g-3">
            <div class="col-md-5">
                <label for="stadt" class="form-label">Stadt</label>
                <input formControlName="stadt" type="text" class="form-control" placeholder="Trier" name="stadt">
            </div>
    
            <div class="col-md-4">
                <label for="strasse" class="form-label">Straße</label>
                <input formControlName="strasse" type="text" class="form-control" placeholder="Neustraße" name="strasse">
            </div>
    
            <div class="col-md-3">
                <label for="plz" class="form-label">PLZ</label>
                <input formControlName="postleitzahl" type="number" class="form-control" placeholder="54290" name="plz">
            </div>
        </div>

        <hr class="my-4">
        <button class="btn btn-danger btn-md mx-2" (click)="onNoClick()">Abbrechen</button>
        <button class="btn btn-dark btn-md" (click)="insertData()" [disabled]="this.schulerForm.invalid">Speichern</button>
    </form>
</div>