<div class="login-class">
    <div class="form-signin text-center m-auto w-50 test">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <h1 class="h3 mb-3 fw-normal">Bitte Einloggen</h1>
            
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" placeholder="du@beispiel.com" formControlName="email">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
                <label for="password">Password</label>
            </div>
            
            <button class="w-100 btn btn-lg btn-primary" [disabled]="this.loginForm.invalid" type="submit">Einloggen</button>
        </form>
    </div> 
</div>
    
